USE [master]
GO
/****** Object:  Database [DB_ingenieria_de_software]    Script Date: 5/24/2026 3:27:05 PM ******/
CREATE DATABASE [DB_ingenieria_de_software]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_ingenieria_de_software', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVERPRIME\MSSQL\DATA\DB_ingenieria_de_software.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_ingenieria_de_software_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVERPRIME\MSSQL\DATA\DB_ingenieria_de_software_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_ingenieria_de_software].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_ingenieria_de_software]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 5/24/2026 3:27:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Usuario_Id] [int] NOT NULL,
	[Usuario_NombreUsuario] [varchar](50) NOT NULL,
	[Usuario_Contraseña] [varchar](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Usuario_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Usuario] ([Usuario_Id], [Usuario_NombreUsuario], [Usuario_Contraseña]) VALUES (1, N'Juan66', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92')
INSERT [dbo].[Usuario] ([Usuario_Id], [Usuario_NombreUsuario], [Usuario_Contraseña]) VALUES (2, N'MateoMatuti', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92')
INSERT [dbo].[Usuario] ([Usuario_Id], [Usuario_NombreUsuario], [Usuario_Contraseña]) VALUES (3, N'JuanaP', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__560515CBEF0237EA]    Script Date: 5/24/2026 3:27:06 PM ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Usuario_NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
