USE [master]
GO
/****** Object:  Database [DB_ingenieria_de_software]    Script Date: 6/20/2026 8:38:42 PM ******/
CREATE DATABASE [DB_ingenieria_de_software]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_ingenieria_de_software', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVERPRIME\MSSQL\DATA\DB_ingenieria_de_software.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_ingenieria_de_software_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVERPRIME\MSSQL\DATA\DB_ingenieria_de_software_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_ingenieria_de_software].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_ingenieria_de_software]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 6/20/2026 8:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Bitacora_Id] [int] IDENTITY(1,1) NOT NULL,
	[Bitacora_Usuario] [nvarchar](50) NOT NULL,
	[Bitacora_Actividad] [nvarchar](100) NOT NULL,
	[Bitacora_FechaHora] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Bitacora_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DigitoVerificadorVertical]    Script Date: 6/20/2026 8:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitoVerificadorVertical](
	[DVV_Tabla] [varchar](50) NOT NULL,
	[DVV_Hash] [varchar](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DVV_Tabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 6/20/2026 8:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Usuario_Id] [int] NOT NULL,
	[Usuario_NombreUsuario] [nvarchar](50) NOT NULL,
	[Usuario_Contraseña] [char](64) NOT NULL,
	[Usuario_Activo] [bit] NULL,
	[Usuario_Permiso] [smallint] NULL,
	[Usuario_BloqueoDV] [bit] NULL,
	[Usuario_DVH] [char](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[Usuario_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([Bitacora_Id], [Bitacora_Usuario], [Bitacora_Actividad], [Bitacora_FechaHora]) VALUES (1, N'Juan66', N'Login', CAST(N'2026-06-19T15:00:36.177' AS DateTime))
INSERT [dbo].[Bitacora] ([Bitacora_Id], [Bitacora_Usuario], [Bitacora_Actividad], [Bitacora_FechaHora]) VALUES (2, N'Juan66', N'Alta de usuario: Jose', CAST(N'2026-06-19T15:01:58.043' AS DateTime))
INSERT [dbo].[Bitacora] ([Bitacora_Id], [Bitacora_Usuario], [Bitacora_Actividad], [Bitacora_FechaHora]) VALUES (3, N'Juan66', N'Logout', CAST(N'2026-06-19T15:03:48.813' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
INSERT [dbo].[DigitoVerificadorVertical] ([DVV_Tabla], [DVV_Hash]) VALUES (N'Usuario', N'f179e2fedfb842f68131d92ae3a10ecf2ff985dadddbba62dc03ee38f1af466a')
GO
INSERT [dbo].[Usuario] ([Usuario_Id], [Usuario_NombreUsuario], [Usuario_Contraseña], [Usuario_Activo], [Usuario_Permiso], [Usuario_BloqueoDV], [Usuario_DVH]) VALUES (1, N'Juan66', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', 1, 1, 0, N'94b5e55a00351d2af8231eff3d31686f33cf31ca755d1d31a773aa530332a16d')
INSERT [dbo].[Usuario] ([Usuario_Id], [Usuario_NombreUsuario], [Usuario_Contraseña], [Usuario_Activo], [Usuario_Permiso], [Usuario_BloqueoDV], [Usuario_DVH]) VALUES (2, N'Maria01', N'b1ef627fe51fca5bea57e92eb41bcad3ae17d376cc9217e05cc8b2779c546b8c', 1, 2, 0, N'051cc4ce92bea3af901dc3bfb56f863bce6562aed1c832a021859e152f11905b')
INSERT [dbo].[Usuario] ([Usuario_Id], [Usuario_NombreUsuario], [Usuario_Contraseña], [Usuario_Activo], [Usuario_Permiso], [Usuario_BloqueoDV], [Usuario_DVH]) VALUES (3, N'Carlos22', N'a4e7c6ae4013276deabc1be4f9c65a6dc382f317e0cb81497aba26915cde5b66', 0, 2, 0, N'3208e08d5b9065aac63a01a084f030e11256c901d8a90b2aac0a46b8fd02501e')
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [Usuario_Activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [Usuario_Permiso]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [Usuario_BloqueoDV]
GO
USE [master]
GO
