USE [DB_ingenieria_de_software]
GO
/****** Objeto: Table [dbo].[Bitacora] Fecha de script: 7/1/2026 8:15:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Bitacora_Id] [int] IDENTITY(1,1) NOT NULL,
	[Bitacora_Usuario] [nvarchar](50) NOT NULL,
	[Bitacora_Actividad] [nvarchar](100) NOT NULL,
	[Bitacora_FechaHora] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Bitacora_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Componente] Fecha de script: 7/1/2026 8:15:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Componente](
	[Componente_Id] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[NombreInterno] [varchar](100) NULL,
	[EsFamilia] [bit] NOT NULL,
 CONSTRAINT [PK_Componente] PRIMARY KEY CLUSTERED 
(
	[Componente_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Componente_Hijo] Fecha de script: 7/1/2026 8:15:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Componente_Hijo](
	[Padre_Id] [int] NOT NULL,
	[Hijo_Id] [int] NOT NULL,
 CONSTRAINT [PK_Componente_Hijo] PRIMARY KEY CLUSTERED 
(
	[Padre_Id] ASC,
	[Hijo_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DigitoVerificadorVertical] Fecha de script: 7/1/2026 8:15:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitoVerificadorVertical](
	[DVV_Tabla] [varchar](50) NOT NULL,
	[DVV_Hash] [varchar](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DVV_Tabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Etiqueta] Fecha de script: 7/1/2026 8:15:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etiqueta](
	[Clave] [nvarchar](100) NOT NULL,
	[Español] [nvarchar](200) NULL,
	[Ingles] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[HistorialCambios] Fecha de script: 7/1/2026 8:15:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialCambios](
	[HC_Id] [int] IDENTITY(1,1) NOT NULL,
	[HC_EntidadNombre] [varchar](50) NOT NULL,
	[HC_EntidadId] [int] NOT NULL,
	[HC_NombreCampo] [varchar](50) NOT NULL,
	[HC_ValorAnterior] [nvarchar](200) NULL,
	[HC_ValorNuevo] [nvarchar](200) NULL,
	[HC_Operador] [nvarchar](50) NOT NULL,
	[HC_FechaHora] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HC_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 7/1/2026 8:15:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Usuario_Id] [int] NOT NULL,
	[Usuario_NombreUsuario] [nvarchar](50) NOT NULL,
	[Usuario_Contraseña] [char](64) NOT NULL,
	[Usuario_Activo] [bit] NULL,
	[Usuario_Permiso] [smallint] NULL,
	[Usuario_BloqueoDV] [bit] NULL,
	[Usuario_DVH] [char](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[Usuario_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario_Componente] Fecha de script: 7/1/2026 8:15:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Componente](
	[Usuario_Id] [int] NOT NULL,
	[Componente_Id] [int] NOT NULL,
 CONSTRAINT [PK_Usuario_Componente] PRIMARY KEY CLUSTERED 
(
	[Usuario_Id] ASC,
	[Componente_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([Bitacora_Id], [Bitacora_Usuario], [Bitacora_Actividad], [Bitacora_FechaHora]) VALUES (1, N'Juan66', N'Login', CAST(N'2026-06-19T15:00:36.177' AS DateTime))
INSERT [dbo].[Bitacora] ([Bitacora_Id], [Bitacora_Usuario], [Bitacora_Actividad], [Bitacora_FechaHora]) VALUES (2, N'Juan66', N'Alta de usuario: Jose', CAST(N'2026-06-19T15:01:58.043' AS DateTime))
INSERT [dbo].[Bitacora] ([Bitacora_Id], [Bitacora_Usuario], [Bitacora_Actividad], [Bitacora_FechaHora]) VALUES (3, N'Juan66', N'Logout', CAST(N'2026-06-19T15:03:48.813' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
INSERT [dbo].[Componente] ([Componente_Id], [Nombre], [NombreInterno], [EsFamilia]) VALUES (1, N'Acceso de Rescate por Falla', N'Permiso_Rescate', 0)
INSERT [dbo].[Componente] ([Componente_Id], [Nombre], [NombreInterno], [EsFamilia]) VALUES (2, N'Visualizar Usuarios', N'Permiso_Ver_Usuarios', 0)
INSERT [dbo].[Componente] ([Componente_Id], [Nombre], [NombreInterno], [EsFamilia]) VALUES (3, N'Alta de Usuarios', N'Permiso_Alta_Usuario', 0)
GO
INSERT [dbo].[Componente_Hijo] ([Padre_Id], [Hijo_Id]) VALUES (9, 1)
INSERT [dbo].[Componente_Hijo] ([Padre_Id], [Hijo_Id]) VALUES (9, 11)
INSERT [dbo].[Componente_Hijo] ([Padre_Id], [Hijo_Id]) VALUES (10, 2)
GO
INSERT [dbo].[DigitoVerificadorVertical] ([DVV_Tabla], [DVV_Hash]) VALUES (N'Usuario', N'8a810ca9e1c8400c7ef2543dd7276846b7bf73a8aa33a857ea1f2a6423db6cb8')
GO
INSERT [dbo].[Etiqueta] ([Clave], [Español], [Ingles]) VALUES (N'gestusu_alta', N'Alta', N'Add')
INSERT [dbo].[Etiqueta] ([Clave], [Español], [Ingles]) VALUES (N'gestusu_col_activo', N'Activo', N'Active')
INSERT [dbo].[Etiqueta] ([Clave], [Español], [Ingles]) VALUES (N'gestusu_col_contra', N'Contraseña', N'Password')
GO
SET IDENTITY_INSERT [dbo].[HistorialCambios] ON 

INSERT [dbo].[HistorialCambios] ([HC_Id], [HC_EntidadNombre], [HC_EntidadId], [HC_NombreCampo], [HC_ValorAnterior], [HC_ValorNuevo], [HC_Operador], [HC_FechaHora]) VALUES (1, N'Usuario', 2, N'Activo', N'True', N'False', N'Juan66', CAST(N'2026-07-01T12:27:36.510' AS DateTime))
INSERT [dbo].[HistorialCambios] ([HC_Id], [HC_EntidadNombre], [HC_EntidadId], [HC_NombreCampo], [HC_ValorAnterior], [HC_ValorNuevo], [HC_Operador], [HC_FechaHora]) VALUES (2, N'Usuario', 2, N'Activo', N'False', N'True', N'Juan66', CAST(N'2026-07-01T12:28:28.563' AS DateTime))
INSERT [dbo].[HistorialCambios] ([HC_Id], [HC_EntidadNombre], [HC_EntidadId], [HC_NombreCampo], [HC_ValorAnterior], [HC_ValorNuevo], [HC_Operador], [HC_FechaHora]) VALUES (6, N'Usuario', 6, N'NombreUsuario', NULL, N'Nicolino', N'Juan66', CAST(N'2026-07-01T16:32:45.937' AS DateTime))
SET IDENTITY_INSERT [dbo].[HistorialCambios] OFF
GO
INSERT [dbo].[Usuario] ([Usuario_Id], [Usuario_NombreUsuario], [Usuario_Contraseña], [Usuario_Activo], [Usuario_Permiso], [Usuario_BloqueoDV], [Usuario_DVH]) VALUES (1, N'Juan66', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', 1, 1, 0, N'c2fd2249cd83b6b7c2eff41b31f203845439b5058333683c829c01524f739ce1')
INSERT [dbo].[Usuario] ([Usuario_Id], [Usuario_NombreUsuario], [Usuario_Contraseña], [Usuario_Activo], [Usuario_Permiso], [Usuario_BloqueoDV], [Usuario_DVH]) VALUES (2, N'Maria01', N'b1ef627fe51fca5bea57e92eb41bcad3ae17d376cc9217e05cc8b2779c546b8c', 1, 2, 0, N'df810a7f652eb441ae3796dd92f7af10a14c5cdfa874ab220d5008d5552a0e8b')
INSERT [dbo].[Usuario] ([Usuario_Id], [Usuario_NombreUsuario], [Usuario_Contraseña], [Usuario_Activo], [Usuario_Permiso], [Usuario_BloqueoDV], [Usuario_DVH]) VALUES (3, N'Carlos22', N'a4e7c6ae4013276deabc1be4f9c65a6dc382f317e0cb81497aba26915cde5b66', 0, 2, 0, N'ecad3628aef2e665016b7d84afc88d725561a5c490a1c9c435aaa2cf5d3a4e94')
GO
INSERT [dbo].[Usuario_Componente] ([Usuario_Id], [Componente_Id]) VALUES (1, 9)
INSERT [dbo].[Usuario_Componente] ([Usuario_Id], [Componente_Id]) VALUES (1, 10)
INSERT [dbo].[Usuario_Componente] ([Usuario_Id], [Componente_Id]) VALUES (2, 10)
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [Usuario_Activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [Usuario_Permiso]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [Usuario_BloqueoDV]
GO
ALTER TABLE [dbo].[Componente_Hijo]  WITH CHECK ADD  CONSTRAINT [FK_Componente_Hijo_Hijo] FOREIGN KEY([Hijo_Id])
REFERENCES [dbo].[Componente] ([Componente_Id])
GO
ALTER TABLE [dbo].[Componente_Hijo] CHECK CONSTRAINT [FK_Componente_Hijo_Hijo]
GO
ALTER TABLE [dbo].[Componente_Hijo]  WITH CHECK ADD  CONSTRAINT [FK_Componente_Hijo_Padre] FOREIGN KEY([Padre_Id])
REFERENCES [dbo].[Componente] ([Componente_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Componente_Hijo] CHECK CONSTRAINT [FK_Componente_Hijo_Padre]
GO
ALTER TABLE [dbo].[Usuario_Componente]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Componente_Componente] FOREIGN KEY([Componente_Id])
REFERENCES [dbo].[Componente] ([Componente_Id])
GO
ALTER TABLE [dbo].[Usuario_Componente] CHECK CONSTRAINT [FK_Usuario_Componente_Componente]
GO
ALTER TABLE [dbo].[Usuario_Componente]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Componente_Usuario] FOREIGN KEY([Usuario_Id])
REFERENCES [dbo].[Usuario] ([Usuario_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuario_Componente] CHECK CONSTRAINT [FK_Usuario_Componente_Usuario]
GO
